body{
  background-color:#FFFFE9;
}
h2{
  text-align: center;
}
#game{
  /* it's the ratio of the original gameboy color screen */
  width:704px;
  height:464px;
  border:1px solid #000;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}
p{
  color:#ffffff;
  font-size:9px;
}
#debugBar{
  width:720px;
  border:1px solid #000;
  background-color:#000000;
  
  text-align:center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  
}

#area{
  color: #ffffff;
}

@font-face {font-family: Fixedsys; src: url('../gui/FSEX300.ttf');}
@font-face {font-family: Gameboy; src: url('../gui/pokemon_gb-webfont.ttf');}

#gui{
  font-family: Consolas;
}